[Desktop Entry]
Comment=Enter Excel filename:
Icon=application-vnd.ms-powerpoint
Name[en_GB]=PowerPoint 2007->13 ...
Name=PowerPoint 2007->13 ...
Type=Link
URL[$e]=.source/ppoint.pptx
